<p id="notice"><%= notice %></p>
<form method="POST" action="/formulario">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="name" required>
    </div>
    <div>
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="age" required>
    </div>
    <div>
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="mail" required>
    </div>
    <div>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="type_desc" required>
    </div>
    <button type="submit">Enviar</button>
</form>


<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Correo</th>
            <th scope="col">Tipo</th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.age %></td>
                <td><%= user.mail %></td>
                <td><%= user.type_desc %></td>            
            </tr>
        <% end %>
    </tbody>
</table>